:root {
	
	--farge1:#283D3B; /*footer */
	--farge2:#197278; /*header */
	--farge3:#EDDDD4; /*main */
}


body {
	background: var(--farge3);
	margin: 30px 200px;
	line-height: 1.4;
}


li {
	float: left; 
}

li a {
	display: block;
	padding: 14px 16px;
}


.main-nav ul {
	
	list-style: none;
	
	
}

.main-nav a {
	background: var(--farge2);
	display: block;
	text-decoration: none;
	margin: 2px;
	text-align: center;
	color: var(--farge1);
	text-transform: uppercase;
	font-size: 1rem;
	box-shadow: var(--shadow);
}

.main-nav a:hover {
	background: var(--farge2);
	color: var(--farge3);

}

.right { float: right; }


@media only screen and (max-width: 1000px) {
  body {
    margin: 0px 0px;
  }
}




