:root {
	
	--farge1:#283D3B; /*footer */
	--farge2:#197278; /*header */
	--farge3:#EDDDD4; /*main */
	--shadow:black;
}


body {
	background: var(--farge3);
	margin: 30px 200px;
	line-height: 1.4;
}


.li1 {
	float: left; 
}


ul { padding-inline-start:0px; }


.li1 a {
	display: block;
	padding: 12px 12px;
}

li a {
	width: 120px;
	margin: 0px;
	padding: 12px 12px;
list-style: none;
}

.main-nav ul {
	
	list-style: none;
	
	
}

.main-nav2 ul {
	
	list-style: none;
	
	
}


.main-nav2{list-style: none;}

#burgerknapp {
	color: white;
	text-align: center;
  background: var(--farge2);
  text-decoration: none;
  display: block;
  list-style: none;
  padding: 5px;
  margin: 2px;
  width: 30px;
  height: 30px;
}
.knapp {
	background: var(--farge2);
	display: block;
	text-decoration: none;
	margin: 2px;
	text-align: center;
	color: var(--farge1);
	text-transform: uppercase;
	font-size: 1rem;
	box-shadow: var(--shadow);
}

.knapp1 {
	background: var(--farge2);
	display: block;
	text-decoration: none;
	margin: 1px;
	text-align: center;
	color: var(--farge1);
	text-transform: uppercase;
	font-size: 1rem;
	box-shadow: var(--shadow);
}

.main-nav a:hover {
	background: var(--farge2);
	color: var(--farge3);

}

.right { float: right; }


@media only screen and (max-width: 1000px) {
  body 
  {  margin: 0px 0px;}

  #burgerknapp { display: none; }
  .main-nav2 { display: none; }
 
}

@media only screen and (min-width: 580px) {
  body {
   /* margin: 0px 0px;*/
}
  #burgerknapp { display: none; }
  .main-nav2 { display: none; }

  
  

}

@media only screen and (max-width: 580px) {
  body { margin: 0px 0px;}
   .main-nav{ display: none; }
   .main-nav2 {display: block;}
   #burgerknapp { display: block; }

}




.main-nav2 #myLinks {
  display: none;
}